
    <!-- START THE FEATURETTES -->

    <div class="row featurette1">
        <div class="col-md-7" id="featurette">
            <h2 class="featurette-heading">Buy Local
            </h2>
            <p class="lead2">Get the freshest produce from local farmers and garndeners.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                src="/assets/images/pexels-photo-439818.jpeg"
                data-holder-rendered="true">
        </div>
    </div>


    <div class="row featurette2">
        <div class="col-md-7 order-md-2" id="featurette">
            <h2 class="featurette-heading">Sell Local
            </h2>
            <p class="lead2">Sell your produce or goods to people in your neighborhood.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="/assets/images/pexels-photo-95425.jpeg" alt="Somone handing an apple to an outstretched arm over a scale and more apples" data-holder-rendered="true">
        </div>
    </div>


    <div class="row featurette3">
        <div class="col-md-7" id="featurette">
            <h2 class="featurette-heading">Be Happy!
            </h2>
            <p class="lead2">There's no substitute for fresh ingredients and the feeling of helping out the local community.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="/assets/images/woman-kitchen-man-everyday-life-298926.jpeg" alt="A man and woamn making some dinner in the kitchen" data-holder-rendered="true">
        </div>
    </div>

    <!-- /END THE FEATURETTES -->
