<div class= "container-fluid">

<div class="row"> {{!--RowOpen--}}

<div class=col-3> </div>{{!--Spacer--}}
<div class=col-6 id= "iteminfo">  
<img src="https://placebear.com/200/200?image=2" alt="..." class="img-thumbnail">
{{!--src to be replaced w/ {{}} from db--}}

<h3>Store Name</h3>
<h3>About</h3>
<p> Lo-fi four loko wayfarers, yr vinyl activated charcoal swag hell of shoreditch hot chicken ugh af blog. Authentic mustache williamsburg sustainable small batch banjo live-edge cred master cleanse. PBR&B tote bag gochujang cray, drinking vinegar ugh pop-up. Ennui freegan narwhal pug yr, intelligentsia celiac quinoa raclette mlkshk. Drinking vinegar 90's tattooed succulents, XOXO forage bicycle rights gluten-free offal fixie cliche yuccie. Roof party hella vice health goth. Etsy chillwave coloring book everyday carry enamel pin kinfolk literally actually put a bird on it street art.</p>
 
 <h3>Items for Sale</h3> 
 
<img src="http://lorempixel.com/100/100" alt="..." class="img-thumbnail">
<img src="http://lorempixel.com/100/100" alt="..." class="img-thumbnail">
<img src="http://lorempixel.com/100/100" alt="..." class="img-thumbnail">


<div class=col-3> </div>{{!--Spacer--}}
</div> {{!--RowClose--}}
</div> {{!--Container Close--}}