
<div class= "container-fluid">

<div class="row"> {{!--RowOpen--}}

<div class=col-3> </div>{{!--Spacer--}}
<div class=col-6 id= "iteminfo">  
<img src="http://lorempixel.com/200/200/food" alt="..." class="img-thumbnail">
<h3>Product</h3>
<p>Price per Unit:</p>
 <div class="form-inline">
    <label for="numUnits">Number of Units</label>
    <select class="form-control" id="numUnits">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
<p>Requested Delivery Date and Time:</p>
<input id="date" type="date">
 <div class="form-inline">
    <label for="Time">Preferred Time</label>
    <select class="form-control" id="numUnits">
      <option>9:00AM</option>
      <option>10:00AM</option>
      <option>11:00AM</option>
      <option>12:00PM</option>
      <option>1:00PM</option>
      <option>2:00PM</option>
      <option>3:00PM</option>
      <option>4:00PM</option>
      <option>5:00PM</option>
      <option>6:00PM</option>
    </select>
  </div>


</div>


<div class=col-3> </div>{{!--Spacer--}}
</div> {{!--RowClose--}}
</div> {{!--Container Close--}}