<footer class="footer">
    <div class="container">
        <img src="assets/images/FTLogoSM.png" id="logo2" alt="FareTrade expanded Logo">
        <span class="text-muted">
            <p>Trademarks and brands are the property of their respective owners. © 2018</p></span>
    </div>
</footer>