{{> nav/navbar}}
<h1>About Us</h1>
<p>Buy Local, Sell Local, Be Happy. We want to make shopping locally easier for everyone for built a spot to make that happen. Now it’s easy to find the best local products around you.</p>