<div class="container-fluid">
    <div class="row">
    </div>
    <h1>FareTrade</h1>
    <div class="row">
        <div class="col">

        </div>
    </div>

    <form id="create-form" class="button-size" action="/api/burgers" method="POST">
  <input type="text" id="newBurger" name="burger_name"></input>
  <button type="submit">Submit</button>
</form>
<p>Enter a burger you want to eat and Click the "Submit" button.</p>