/* ************************************************************* */
/* Body */
body {
    font-family: 'Merienda', cursive;
    background-color: #ffffff;
    color: #080808;
}
h1 {
    font-family: 'Kaushan Script', cursive;
    color: #B35C42;
}
/* ************************************************************* */
/* NavBar */
.navbar-brand {
    background-image: url('assets/images/FTLogo-4.png');
}
#navbarNavAltMarkup {
    background-color: #49672b;
    color: #ffffff;
}
.nav-item.nav-link.active {
    color: #ffffff !important;
}
.nav-item.nav-link.active:hover {
    color: #E6963E !important;
}
a {
    color: #B35C42;
}
a:hover {
    color: #E6963E !important;
}

.navbar .navbar-expand-lg .navbar-light .bg-light {
    color: #49672b !important;
    background-color: #49672b !important;
}
.bg-light {
    background-color: #49672b !important;
}
#logo {
    height: 40px;
    width: 40px;
}

/* ************************************************************* */
/*Footer*/
.footer {
    background-color: #88B35D;
    text-align: center;
    font-size: 12px;
    padding: 10px;
}
#logo2 {
    height: 40px;
    width: 120px;
}

/* ************************************************************* */
/*HomePage*/
#home {
    text-align: center;
    background-image: url('/assets/images/stock1.jpg');
    background-size: cover;
}
.display-4 {
    font-size: 100px;
}

.lead {
    font-size: 60px;
    color: #B35C42;
}
.card-body {
    background-color: #49672b !important;
    color: #B35C42;
}
#disclaimer {
    font-size: 8px;
    color: black;
    text-align: left;
    margin-bottom: 2px;
}
#first-slide {
    max-width: 100%;
}
.carousel-item {
    max-width: 100%;
}
/* ************************************************************* */
/*AboutUs*/
#aboutus {
    text-align: center;
    background-image: url('/assets/images/pexels-photo-216368.jpeg');
    background-size: cover;
}

.indent {
    text-indent: 22px;
}
/* ************************************************************* */
/*History*/
#history {
    text-align: center;
    background-image: url('/assets/images/pexels-photo-606540.jpeg');
    background-size: cover;
}

#logo3 {
    height: 20px;
    width: 60px;
}
#logo5 {
    height: 50px;
    width: 150px;
}

/* ************************************************************* */
/*Resources*/
#resources {
    text-align: center;
    background-image: url('/assets/images/pexels-photo-216368.jpeg');
    background-size: cover;
}
h3 {
    color: #B35C42;  
}

/* ************************************************************* */
/*Recipes*/
#recipes {
    text-align: center;
    background-image: url('/assets/images/pexels-photo-326281.jpeg');
    background-size: cover;
}

/* ************************************************************* */
/*ContactUs*/
#contactus {
    text-align: center;
    background-image: url('/assets/images/pexels-photo-326278.jpeg');
    background-size: cover;
}

/* ************************************************************* */
/*SignIn*/
#signinjumbo {
    text-align: center;
    background-image: url('/assets/images/pexels-photo-192312.jpeg');
    background-size: cover;
}
#signinform {
    text-align: center;
}
#signinemail, #signinpass {
    color: #B35C42;
}
#signinbtn {
    color: #ffffff;
    background-color: #49672b;
    margin-bottom: 2px;
    padding: 4px;
}


/* ************************************************************* */
/*SignUp*/
#signupjumbo {
    text-align: center;
    background-image: url('/assets/images/pexels-photo-192312.jpeg');
    background-size: cover;
}
.signupbtn {
    color: #ffffff;
    background-color: #49672b;
    height: 20px;
}
#signupform {
    text-align: center;
}
#signupemail, #signupfirst, #signuplast, #signuppass {
    color: #B35C42;
}
#signupbtn {
    color: #ffffff;
    background-color: #49672b;
    margin-bottom: 2px;
    padding: 4px;
}

/* ************************************************************* */
/*Dashboard*/
#dashboard {
    text-align: center;
    background-image: url('/assets/images/pexels-photo-616404.jpeg');
    background-size: cover;
}
#logo4 {
    height: 80px;
    width: 240px;
}
.shoppingcart {
    justify-content: flex-end
}
.fa-shopping cart, #cart {
    font-size: 16px;
    color: #ffffff;
    background-color: #ffffff;
    max-width: 200px;
    max-height: 70px;
    align-content: right;
}
#cartbtn {
    color: #ffffff;
    background-color: #49672b;

}
.buysell {
    background-color: #A1B35D;
}
#buyform, #sellform {
    margin: 15px;
    padding: 15px;
    color: #ffffff;
    background-color: #A1B35D;
}
#buybtn, #sellbtn {
    color: #ffffff;
    background-color: #49672b;
}

/* ************************************************************* */
/*Shopping Cart*/
#cartjumbo {
    text-align: center;
    background-image: url('/assets/images/pexels-photo-1070987.jpeg');
    background-size: cover;
}
.card-img-top {
    max-height: 250px;
}
.card-body {
    color: #ffffff;
    background-color: #A1B35D;
}

/* ************************************************************* */
/*Carousel*/
.carosel-inner {
    
}
.carousel-item {
    width: 100%;
    height: 300px;
}
.carosel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featurette-heading {
    color: #B35C42;   
}
.lead2 {
    color: #B35C42;   
}
.row.featurette1 {
    background-color: #63C05A;
}
.row.featurette2 {
    background-color: #8ECA5F;
}
.row.featurette3 {
    background-color: #A1B35D;
}
