<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/assets/images/FTLogo-4.png">
  <img src="/assets/images/FTLogo-4.png" id="logo" alt="FareTrade Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home
        <span class="sr-only"></span>
      </a>
      <a class="nav-item nav-link active" href="/aboutus">About Us</a>
      <a class="nav-item nav-link active" href="/history">History</a>
      <a class="nav-item nav-link active" href="/resources">Resources</a>
      <a class="nav-item nav-link active" href="/recipes">Recipes</a>
      <a class="nav-item nav-link active" href="/contactus">Contact Us</a>
      <a class="nav-item nav-link active" href="/signin">Sign In</a>
      <a class="nav-item nav-link active" href="/signup">Sign Up</a>
      <a class="nav-item nav-link active" href="/logout">Log Out</a>
    </div>
  </div>
</nav>