<h2>404 Error</h2>
<p>Page not found.  Please check the URL.</p>

//grant info starts here

<img class="card-img-top1" src="/assets/images/grant.PNG" alt="Grant" width="200">

<div class="aboutme">
  <p>Organic farming is what we are passionate about. Come out to Grant's Sunshine Farm's for the freshest, most delicious home
    grown vegetables and fruits in Texas.
  </p>
</div>



<div class="faketable">
  <h2>Your Inventory</h2>
  <table style="width:100%">
    <thead>
      <tr>
        <th>Category</th>
        <th>Product</th>
        <th>Qty Available</th>
        <th>Price</th>
        <th>Unit</th>
      </tr>
    </thead>

    <tr>
      <td>Vegetable</td>
      <td>Eggplant</td>
      <td>100</td>
      <td>3.50</td>
      <td>lb</td>
    </tr>
    <tr>
      <td>Vegetable</td>
      <td>Tomato</td>
      <td>500</td>
      <td>0.90</td>
      <td>lb</td>
    </tr>
    <tr>
      <td>Vegetable</td>
      <td>Cabbage</td>
      <td>800</td>
      <td>0.38</td>
      <td>lb</td>
    </tr>
    <tbody id="table-body">
    </tbody>
  </table>

  <button type="submit" class="button-primary" id="submit-info">Update Inventory</button>

</div>

<button type="submit" class="button-primary" id="shopper">Go Shopping</button>