{{> nav/navbar}}
  <div class="jumbotron jumbotron-fluid" id="aboutus">
  <div class="container">
    <h1 class="display-4">About Us</h1>
  </div>
</div>
<br>
<div class="container-fluid">
<p>We want to make shopping locally easier for everyone for built a spot to make that happen. Now it’s easy to find the best local products around you.</p> 
<br>
<p>We want everyone to have access to the best locally produced or locally grown products. Up until Fare Trade was started it seemed the only way to get these local goods was to go to the local farmer’s market or just hope the local grocery store starts to carry the product.</p>
<br>
<p>FareTrade takes those headaches away by allowing you to search through local seller and buy directly from them.</p>
<br>
{{>disclaimer/disclaimer}}
</div>
{{>footer/foot}}
