{{> nav/navbar}}

<h1>Shopping Cart</h1>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../assets/images/apple.jpg" alt="Card image cap" height="250px">
                <div class="card-body">
                    <p class="card-text">
                        <div class="product-details">
                            <div class="type">Seller:</div>
                            <div class="seller">Johnny Appleseed's Farms</div>
                            <br />
                            <div class="type">Product:</div>
                            <div class="product-name">Red Gala Apple</div>
                            <br />
                            <div class="type">Description:</div>
                            <p class="product-description">Have you ever heard of Johnny? He's the best farmer with the best apples! Our Best Apple, Red
                                Gala
                            </p>
                        </div>
                        <div class="type">Price:</div>
                        <div class="product-price">1.50</div>
                        <br />
                        <div class="type">Quantity:</div>
                        <div class="product-quantity">
                            <input type="number" value="2" min="1">
                        </div>
                        <div class="product-removal">
                            <button class="remove-product">
                                Remove
                            </button>
                        </div>
                        <div class="type">Updated Price:</div>
                        <div class="product-line-price">3.00</div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../assets/images/corn.jpg" alt="Card image cap" height="250px">
                <div class="card-body">
                    <p class="card-text">
                        <div class="product-details">
                            <div class="type">Seller:</div>
                            <div class="seller">Golden Gate Corn</div>
                            <br />
                            <div class="type">Product:</div>
                            <div class="product-name">Gold Corn</div>
                            <br />
                            <div class="type">Description:</div>
                            <p class="product-description">Who hasnt eaten corn? Best Corn in North Texas, come get your Gold Corn for the best price.</p>
                        </div>
                        <div class="type">Price:</div>
                        <div class="product-price">1.50</div>
                        <br />
                        <div class="type">Quantity:</div>
                        <div class="product-quantity">
                            <input type="number" value="2" min="1">
                        </div>
                        <div class="product-removal">
                            <button class="remove-product">
                                Remove
                            </button>
                        </div>
                        <div class="type">Updated Price:</div>
                        <div class="product-line-price">3.00</div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3>Total Costs</h3>
                    <center>
                    <div class="totals-item">
                        <label>Tax (5%):</label>
                        <div class="totals-value" id="cart-tax">$0.28</div>
                    </div>
                    <br />
                    <div class="totals-item">
                        <label>Shipping</label>
                        <div class="totals-value" id="cart-shipping">$2.00</div>
                    </div>
                    <br />
                    <div class="totals-item totals-item-total">
                        <label>Grand Total</label>
                        <div class="totals-value" id="cart-total">$7.78</div>
                    </div>
                    <br />
                    <button class="checkout" style="text-align:right">Checkout</button>
                    </center>
                </div>
            </div>
        </div>

    </div>
</div>