{{> nav/navbar}}
  <div class="jumbotron jumbotron-fluid" id="contactus">
  <div class="container">
    <h1 class="display-4">Contact Us</h1>
  </div>
</div>
<h3>Cody Sherrod</h3>
<h5>Co-Founder and Front End Designer</h5>
<br>
<p>Tell us some stuff about yourself here</p>
<br>
<div class="fa-3x">
<i class="fa fa-envelope-o" href=""></i>
<i class="fa fa-linkedin" href="www.linkedin.com/in/
cody-sherrod"></i>
<i class="fa fa-github" href=""></i>
<i class="fa fa-stack-overflow" href=""></i>
</div>
<br>
<h3>Ross Messer</h3>
<h5>Co-Founder and Back End Developer</h5>
<br>
<p>Tell us some stuff about yourself here</p>
<br>
<div class="fa-3x">
<i class="fa fa-envelope-o" href=""></i>
<i class="fa fa-linkedin" href=""></i>
<i class="fa fa-github" href=""></i>
<i class="fa fa-stack-overflow" href=""></i>
</div>
<br>
<h3>Grant Posell</h3>
<h5>Co-Founder and Back End Developer</h5>
<br>
<p>Tell us some stuff about yourself here</p>
<br>
<div class="fa-3x">
<i class="fa fa-envelope-o" href=""></i>
<i class="fa fa-linkedin" href=""></i>
<i class="fa fa-github" href=""></i>
<i class="fa fa-stack-overflow" href=""></i>
</div>
<br>
<h3>Alberto Rovira</h3>
<h5>Co-Founder and Front End Designer</h5>
<p>Tell us some stuff about yourself here</p>
<br>
<div class="fa-3x">
<i class="fa fa-envelope-o" href=""></i>
<i class="fa fa-linkedin" href=""></i>
<i class="fa fa-github" href=""></i>
<i class="fa fa-stack-overflow" href=""></i>
</div>
<br>
<br>
<br>
{{>disclaimer/disclaimer}}
