{{> nav/navbar}}
<div class="jumbotron jumbotron-fluid" id="dashboard">
  <div class="container">
    <h1 class="display-4">Dashboard</h1>
    <p class="lead">Welcome, {{user.firstname}} to 
      <img src="assets/images/FTLogoSM.png" id="logo4" alt="FareTrade expanded Logo">
    </p>
  </div>
</div>
<br>
<div class="container-fluid">

  {{#if user}}
    {{user.firstname}}
  {{/if}}
<div class="row">
  <div class="col-sm">
<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Quantity</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>
  </div>
</form>

<form id="logout" name="logout" method="GET" action="logout"></form>
  <input class="btn" type="logout" value="Log Out" />
</form>

  <br>
  <br>
  <br>
  <br> {{>disclaimer/disclaimer}}
</div>
{{>footer/foot}}

