{{!-- <h5>Hurray! you are logged in.</h5>

<h1>DashBoard</h1>
<br>



<h3>Inventory</h3>
<br>
<div id="inventory"></div> --}}

//access user info by accessing the user. whatever you want to display
  {{#if user}}
    <div>
        {{user.}}
    </div>
  {{/if}}
