{{> nav/navbar}}
<div class="jumbotron jumbotron-fluid" id="history">
  <div class="container">
    <h1 class="display-4">History</h1>
  </div>
</div>
<br>
<div class="container-fluid">
  <p class="indent">Founded in May 2018 after 4 guys got tired of waking up early on the weekends to attend the local farmer markets to get
    fresh local produce. They figured there has to be a better way to get locally grown produce or goods to them without
    the hassle of going to the farmers market, finding a place to park, then walking around in the heat to shop for the best
    deal. Who wants to do that in Houston, TX in the summer months? So, in typical millennial fashion they created a website
    that could handle that for them.</p>
  <p class="indent">The idea was simple, get the best deal on locally grown food and get it to the house with the least amount of physical
    effort possible. Eat healthy, support the local community, stay indoors and be happy. Everybody wins!</p>
  <p class="indent">After complaining for years that there should be a better way to get local farm fresh produce to their table and not finding
    a better solution out there it was decided they would create their own solution.</p>
  <p class="indent">That’s how
    <img src="assets/images/FTLogoSM.png" id="logo3" alt="FareTrade expanded Logo"> came to be. They just wanted to bring the farmer’s market experience online so they could avoid the heat, save some
    money and save some time. But quickly after the launch they realized that not only local farmers wanted to sell their
    goods. There were whole neighborhood gardens that wanted to sell their produce. Some of those neighborhood gardens just
    wanted to trade their produce for others. Some people didn’t grow any produce but had locally made can goods they wanted
    to share with the community.</p>
  <p class="indent">After nearly no discussion at all it was decided to expand the website to include these parties and help everyone out in
    their quest to avoid the heat, support the community and get the best damn goods in their neighborhood.</p>
  <p>Fast forward to present time and
    <img src="assets/images/FTLogoSM.png" id="logo3" alt="FareTrade expanded Logo"> is a bustling community of people buying, selling and even bartering their goods locally.</p>
  <br>
  <br>
  <br>
  <br> {{>disclaimer/disclaimer}}
</div>
{{>footer/foot}}