{{> nav/navbar}}
<h1>History</h1>
<br>
<p>Founded in 2018 after 4 guys got tired of waking up early on the weekends to attend the local farmer markets to get fresh local produce. They figured there should be a better way to get fresh local food without having to go walk around the local farmer’s market. So, in typical millennial fashion they created a website that could handle that for them.</p>