{{>nav/navbar}}
<div class="jumbotron jumbotron-fluid" id="home">
  <div class="container">
    <h1 class="display-4">Fare Trade</h1>
    <p class="lead">Buy Local, Sell Local, Be Happy</p>
  </div>
</div>
<div class="container-fluid">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/assets/images/pexels-photo-439818.jpeg" alt="Local farmers market that has people walking around and checking out the goods">
      <div class="card-body">
        <h5 class="card-title">Buy Local</h5>
        <p class="card-text">Get the freshest produce from local farmers and garndeners</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/images/pexels-photo-95425.jpeg" alt="Somone handing an apple to an outstretched arm over a scale and more apples">
      <div class="card-body">
        <h5 class="card-title">Sell Local</h5>
        <p class="card-text">Sell your produce or goods to people in your neighborhood</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/images/woman-kitchen-man-everyday-life-298926.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Be Happy!</h5>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br> 
  {{>disclaimer/disclaimer}}
</div>
{{>footer/foot}}