{{>nav/navbar}}
<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid" id="home">
  <div class="container">
    <h1 class="display-4">Fare Trade</h1>
    <p class="lead">Buy Local, Sell Local, Be Happy</p>
  </div>
</div>
<p>This is where we can add more content</p>
