{{> nav/navbar}}
<div class="jumbotron jumbotron-fluid" id="recipes">
  <div class="container">
    <h1 class="display-4">Recipes</h1>
  </div>
</div>
<br>
<div class="container-fluid">
  <h3>Inspiration</h3>
  <p class="indent">
    While none of us claim to be chef’s or even decent cooks we know there are some out there. We’ve watched the rise of the Food Network
    and dozens of other cooking shows across other networks. We’re personally big fans of
    <a href="https://www.viceland.com/en_us/video/its-suppertime-with-matty-matheson-series-trailer/59eea015177dd41f9a5065b1">It’s Supertime with Matty Matheson</a> or anything to do with Gordon Ramsay there are plenty of other shows you can watch
    for inspiration. 
    </p>
  <p class="indent">
    Again, while we're not great cook’s ourselves we’ve really come to enjoy some of the recipes from these sites. 
  </p>
  <p class="indent">
    We recommend starting with
    <a href="https://www.allrecipes.com/">All Recipes</a> which has the most extensive list of recipes anywhere on the web. You name it, they have a recipe for
    it.
  </p>
  <p class="indent">
  We also highly recommend checking out
  <a href="http://www.gooseberrypatch.com/">Gooseberry patch</a>. They also have plenty of recipes, recipe books and lots of other goodies.
  <h3>Health Conscious</h3> 
  <p class="indent">
  If you’re watching your
  weight and need recipes with a lighter touch we recommend starting out with
  <a href="http://www.cookinglight.com/">Cooking Light</a>. They offer a ton a recipes catering to people that count their calories.</p>
  <p class="indent">
  If you couldn’t find anything
  with either one of those sites, first, we apologize. You probably have a more restrictive diet than we do (hint* our diets
  have zero restrictions) so check out
  <a href="https://paleoglutenfree.com/recipes/">Paleo Gluten Free</a>.
  </p>
</div>
<br>
<br>
<br> {{>disclaimer/disclaimer}}