{{> nav/navbar}}
  <div class="jumbotron jumbotron-fluid" id="recipes">
  <div class="container">
    <h1 class="display-4">Recipes</h1>
  </div>
</div>
<br>
<p>Here is where links to outside recipes will go</p>
<br>
<br>
<br>
{{>disclaimer/disclaimer}}