{{> nav/navbar}}
  <div class="jumbotron jumbotron-fluid" id="resources">
  <div class="container">
    <h1 class="display-4">Resources</h1>
  </div>
</div>
<br>
<p>Here is where links to outside resources will go</p>