{{> nav/navbar}}
<div class="jumbotron jumbotron-fluid" id="resources">
  <div class="container">
    <h1 class="display-4">Resources</h1>
  </div>
</div>
<br>
<div class="container-fluid">
  <p class="indent">If you’re anything like and have no idea how to grow your own produce or make your own canned goods then you can check
    out some of these sites to help you get started.</p>
  <p class="indent">We found them to be a great starting place when we were feeling ambitious about starting our own garden and canned good
    operation before we remembered we have a black thumb and canning goods takes physical effort.</p>
  <p class="indent">That being said we hope you find these resources helpful so you can join the community as a seller and not just a buyer
    like us.</p>
  <br>
  <h3>Gardening</h3>
  <p class="indent">Before you go out and buy a bunch of plants, fertilizer, mulch, pots and whatever else you think you need to start your
    own garden checkout the
    <a href="http://planthardiness.ars.usda.gov/PHZMWeb/">USDA Plant Hardiness Zone here.</a>
  </p>
  <p class="indent">You may also find
    <a href="https://www.almanac.com/content/planting-zones-us-and-canada">The Old Farmer's Market</a> useful.
  </p>
  <p class="indent">If you want that information but also want to do some shopping check out some of these links.</p>

  <a href="https://www.groworganic.com/what-is-my-growing-zone/">Grow Organic</a>

  <br>
  <br>
  <br> {{>disclaimer/disclaimer}}
</div>
{{>footer/foot}}