{{> nav/navbar}}
    <div class="container">
        <h1 class="display-4">Sign Up</h1>
        <br>
        <br>
        <div class="container2">
            <form id="signupform" name="signup" method="post" action="/signup">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <input class="signupbtn" type="submit" value="Sign Up" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>