{{> nav/navbar}}
<div class="jumbotron jumbotron-fluid" id="signupjumbo">
  <div class="container">
    <h1 class="display-4">Sign Up</h1>
    <br>
    <br>
  <div class="row">
    <div class="col-auto">
<form id="signupform" name="signup" method="post" action="/signup">
    <label for="email" id="signupemail">Email Address</label>
    <input class="text" name="email" type="email" />
    <label for="firstname" id="signupfirst">Firstname</label>
    <input name="firstname" type="text" />
    <label for="lastname" id="signuplast">Lastname</label>
    <input name="lastname" type="text" />
    <label for="password" id="signuppass">Password</label>
    <input name="password" type="password" />
    <input class="btn" id="signupbtn" type="submit" value="Sign Up" />
</form>
    </div>
  </div>
</div>
</div>
<br>
<div class="container-fluid">
<br>
<br>
<br> {{>disclaimer/disclaimer}}
</div>
{{>footer/foot}}
